<main>

    <br><br><br>
    <div>
        {{#if error}}
        <p class="center1"> {{ error }}</p>
        {{/if}}
    </div>

    <div>
        {{#if message}}
        <p class="center1"> {{ message }}</p>
        {{/if}}
    </div>

    <br>
    <br>
    <br>

    <div class="center1">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/userhomepage">Homepage</a>
    </div>
</main>