<div class="header">
    <h1>{{title}}</h1>
</div>
<main>
    <p class="paragraph">
        This Web Application is created by Neel Tejani. we can check any string
        its palindrome or not .
    </p>
    <form id="__id">
        <label class="hello1" id="aa">{{title}}</label><br />
        <textarea class="hello2" type="text" id="enteredtext"></textarea><br />
        <button class="hello3" type="submit">Submit</button>

        <ol id="attempts"></ol>
        <div class="footer">
            <p>Neel Tejani 10474819</p>
        </div>
    </form>

</main>