<h1 class="neel">{{title}}</h1>
<main>
    <p class="paragraph">
        This Web Application is created by Neel Tejani. we can search any
        characters from marvel api. Data will show image and description .
    </p>
    <form class="final" action="/search" method="post">
        <label for="id">{{title}}</label><br />
        <input type="text" name="searchTerm" /><br />
        <input class="final2" type="submit" value="Submit" />
    </form>
</main>